* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 1em sans-serif;
  text-align: center;
  padding: 20px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: larger;
}

.counter button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  width: 40px;
  aspect-ratio: 1;
  font-weight: bold;
  color: inherit;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.counter button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
